{% extends "base.html" %}

{% block title %}
home
{% endblock title %}
{% block content %}
<h1 class='row justify-content-center'>
    Welcome to Tweet
</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto col-10">
            <form id='createTweeatForm' action="{% url 'create' %}" method="post">
                {% csrf_token %}
                <textarea name="content"></textarea>
                <button  type="submit">Tweet</button>
            </form>
        </div>
    </div>

    <div class='row justify-content-center' id="tweets-container">
        Loading ...
    </div>
</div>

<script>

    // Function to retrieve the CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Retrieve the CSRF token
    const csrftoken = getCookie('csrftoken');

    const container = document.getElementById('tweets-container');
    
  

    function handleTweetAction(tweet_id ,action='like') {
        const url = `http://127.0.0.1:8000/tweets/like/${tweet_id}`
        const data = {
        "action": action,
        }
        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken 
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Success:', data);
            render(container);

        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    
    
    async function fetchTweets() {
        try {
            const response = await fetch('http://127.0.0.1:8000/tweets');
            if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
            }
            const data = await response.json();
            return data;
        } catch (error) {
            console.error('Unable to fetch tweets:', error);
        }
    }

    function displayTweets(tweets, container) {
        container.innerHTML = ''; // Clear loading message or previous tweets
        tweets.forEach(tweet => {
            const tweetDiv = document.createElement('div');
            tweetDiv.classList.add('col-12', 'mb-3', 'd-flex', 'justify-content-center'); // Full width column, margin bottom, and centering
            tweetDiv.innerHTML = `
                <div class="card" style="width: 60%;"> <!-- Adjust card width as needed -->
                    <div class="card-body">
                        ${tweet.image ? `<img src="${tweet.image}" class="card-img-top mb-2" alt="Tweet Image" style="max-width: 100%; height: auto;">` : ''}
                        <p class="card-text">${tweet.content}</p>
                        <span class="text-muted">${tweet.date}</span>
                        <br/>
                        <span class="text-muted">likes : ${tweet.likes_count}</span>
                        <br/>
                        <button onclick="handleTweetAction(${tweet.id})">like</button>
                        <button onclick="handleTweetAction(${tweet.id} ,action='unlike')">unlike</button>
                        <button onclick="handleTweetAction(${tweet.id} ,action='retweet')">retweet</button>
                        
                    </div>
                </div>
            `;
            container.appendChild(tweetDiv);
        });
    }
    
    function render(container){
        fetchTweets().then(tweets => {
            if (tweets && tweets.length > 0) {
                displayTweets(tweets, container);
            } else {
                container.innerText = 'No tweets available';
            }
        });
    }
    async function handleCreateTweetForm(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const action = form.getAttribute('action'); // URL to send the POST request to
        const method = form.getAttribute('method'); // Method of the request, should be "POST"
        const csrfToken = formData.get('csrfmiddlewaretoken');
        console.log(action, csrfToken , method)
        try {
            const response = await fetch(action, {
                method: 'POST', // or 'POST'
                body: formData, // Sending the formData directly
                headers: {
                    // If your Django setup requires CSRF token, send it in the request headers
                    'X-CSRFToken': csrfToken,
                },
                // Credentials: 'include' might be necessary if your API requires authentication & cookies
                credentials: 'include',
            });
            if (response.ok) {
                render(container)
                const jsonResponse = await response.json();
            } else {
                throw new Error('Network response was not ok');
            }
        } catch (error) {
            console.error('Error creating tweet:', error);
        }
    }
    
    const Form = document.getElementById('createTweeatForm')
    Form.addEventListener('submit',handleCreateTweetForm);



    render(container);
</script>

{% endblock content %}
